{% extends 'front.html.twig' %}
{# On vient charger le template #}
{# Aucun code HTML en dehors des block twig #}

{% block titre %} Nouveau souhait - {{ parent() }}{% endblock %}
{# Avec parent() je récupère le contenu du block parent #}

{% block central %} 
    <h1>Nouveau souhait</h1>

    {{ form_start(formWish) }}

    {{ form_widget(formWish) }}

    <button class="btn btn-success">Ajouter</button>

    {{ form_end(formWish) }}

{% endblock %}