{% extends 'front.html.twig' %}
{# On vient charger le template #}
{# Aucun code HTML en dehors des block twig #}

{% block titre %}Contact - {{ parent() }}{% endblock %}
{# Avec parent() je récupère le contenu du block parent #}

{% block central %} 
    <h1>Contact</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, odit vitae molestias aspernatur voluptatibus nulla reiciendis nihil quidem aliquid debitis eum incidunt, laudantium optio dicta soluta sequi voluptatum aut? Laudantium?
    Minima facilis ipsam dignissimos reiciendis velit ab quisquam nihil doloremque in quibusdam, placeat sint, qui perferendis alias officia, laborum dolorem corporis ex quaerat optio adipisci omnis dicta enim. Exercitationem, non.
    Dolorum tenetur eaque quidem nulla porro autem voluptatibus dignissimos! Rem dolores at amet nihil distinctio aspernatur? Exercitationem magni alias illum quibusdam incidunt assumenda id earum deserunt rem quam. Quis, quam!
    Non nulla adipisci et, libero reprehenderit enim sapiente dolore, praesentium repellat quia doloribus ea esse suscipit dolorem voluptatibus fuga sed aspernatur dolor voluptates quis facilis cum saepe. Cupiditate, deserunt facere.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ipsa? Pariatur accusamus dicta illo obcaecati autem nihil ipsam cum harum dolor? Incidunt repudiandae consequatur ea, voluptatibus ipsum sequi illum quos?
    Consequatur adipisci libero quam explicabo maxime eaque blanditiis corrupti, voluptas, esse ipsum iure laborum ea quas illum. Numquam aliquid nihil, eius doloremque, magni placeat asperiores nam id ducimus deleniti corrupti.
    Accusantium ex harum doloremque eaque quia aut in! Repellat velit vitae architecto doloribus libero consequuntur, commodi porro corporis? Animi adipisci dolore quia ea sed sequi saepe error amet libero illo.
    Provident amet veniam, dolor vero eligendi alias laborum debitis nobis eos adipisci officia hic sit mollitia illo perferendis voluptates voluptas optio a? Eveniet, at? Perspiciatis aut amet officia unde aliquid!
    Unde provident sint molestiae, maiores voluptates ad fugiat, omnis ex ipsam placeat numquam non error laboriosam ratione ut porro voluptas delectus velit voluptatibus reprehenderit ea quidem saepe! Ad, adipisci reiciendis.
    Maiores explicabo dolorem quaerat at aperiam adipisci commodi nam obcaecati, quam praesentium perferendis quos quae eius porro rem. Adipisci, fugiat debitis fugit ex doloremque error eius officiis reiciendis aut quaerat!
    Facilis necessitatibus et assumenda alias inventore error culpa quo. Reprehenderit, tempora ducimus expedita numquam autem eligendi alias fuga nihil nisi beatae rerum officia velit consectetur adipisci dicta provident ab culpa!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, fugiat eaque! Vero totam debitis, provident delectus voluptas quis nobis architecto quos obcaecati facere, velit suscipit sit corporis optio ut fugit.
    Sequi harum omnis, quae iusto necessitatibus natus dicta! Quia eius quae quaerat, voluptatibus adipisci nihil illum, ea molestias provident reprehenderit accusamus expedita error dolores totam, ullam assumenda deserunt cumque exercitationem?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quas odio dolorem assumenda, quisquam, neque nihil eligendi autem harum perspiciatis minima fugiat ab praesentium quo facilis in iure. Officia, maiores!
    Illum eligendi ipsam harum repellendus dicta. Aliquid veniam, tenetur repudiandae distinctio, molestias cum doloremque et, saepe autem aperiam quaerat reprehenderit. Quo architecto enim hic, laudantium libero sint cupiditate non cumque.
    Laboriosam minus aliquam consequuntur veritatis laudantium voluptatum, mollitia tempora facere quam error culpa laborum eaque explicabo atque voluptate debitis tempore illo dolore unde iure beatae ab. Non, sequi! Rerum, maxime.</p>
        
{% endblock %}